/Sukhoi.jpg
/.vs/PlaneDatabasePyQt5/v17/.wsuo
/backup_planedb.ui
/.vs/PlaneDatabasePyQt5/FileContentIndex/d50f40c1-f4de-475a-b1bd-c55804280564.vsidx
/.vs/PlaneDatabasePyQt5/v17/DocumentLayout.json
/main.spec
/planeimage2.jpeg
/.vs/VSWorkspaceState.json
/.idea/workspace.xml
*.env
